
<! -- Displaying Mock Heroes -->
<h2>My Heroes</h2>

<! -- List to display: -->
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero"
        type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<!-- Details in hero-detail now! -->

<!-- [hero]="selectedHero" is an Angular property binding -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>